/**index**/
html{overflow-x:hidden;overflow-y:auto;width:100%;height:100%;}
body{background:url(../images/index_bg.jpg) no-repeat #f9f9f9;background-size:100% auto;overflow-x:hidden;overflow-y:auto;}
/*字体图标*/
.iconfont{font-family:"iconfont" !important;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:0.2px;-moz-osx-font-smoothing:grayscale;}
/**top**/
.top{width:100%;height:80px;padding:12px 0px 0px;#height:68px;*height:68px;}
.top_left{width:auto;height:68px;padding:8px 0 0;#height:60px;*height:60px;float:left;position:relative;z-index:6;}
.top_left_top{width:100%;height:39px;float:left;padding:0px 0px 0px 9px;}
.top_left_top img{}
.top_left_top h1{height:35px;line-height:35px;font-size:16px;color:#ffffff;margin:2px 0px 0px 12px;padding:0px 0px 0px 12px;border-left:1px solid #ffffff;overflow:hidden;-moz-text-shadow:0px 1px 1px #0085d0;-webkit-text-shadow:0px 1px 1px #0085d0;text-shadow:0px 1px 1px #0085d0;}
.top_right{min-width:270px;height:68px;float:right;padding:6px 18px 0px 0px;#height:62px;*height:62px;-moz-text-shadow:-1px -1px 1px #0085d0;-webkit-text-shadow:-1px -1px 1px #0085d0;text-shadow:-1px -1px 1px #0085d0;}
.top_right img{width:47px;height:47px;float:left;#width:43px;*width:43px;#height:43px;*height:43px;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;border:2px solid #ffffff;}
.top_right strong{min-width:150px;height:46px;#height:18px;*height:18px;float:left;line-height:18px;padding:14px 3px 14px 8px;font-weight:normal;color:#f9f9f9;}
.top_right i{width:18px;height:18px;float:left;color:#ffffff;font-size:16px;margin:14px 0px 0px;cursor:pointer;}
.top_right span{width:1px;height:18px;float:left;border-left:1px dotted #ffffff;margin:14px 8px 0px;}
/**center**/
.center{width:100%;position:relative;z-index:6;background:#f0f0f0;}
.left{width:218px;#width:200px;*width:200px;float:left;position:absolute;z-index:8;top:0px;left:0px;overflow:hidden;padding:0px 18px 0 0;}
.left_menu{width:100%;height:auto;float:left;margin:10px 0px 0px;position:relative;z-index:6;#width:199px;*width:199px;background:#fff;border-right:1px solid #e6e6e6;}
ul.nav1{width:100%;float:left;border-top:1px solid #e0e0e0;}
ul.nav1 li a{width:100%;float:left;line-height:42px;min-height:42px;padding:0px 0px 0px 18px;border-bottom:1px solid #e6e6e6;border-left:1px solid #e6e6e6;overflow:hidden;#width:180px;*width:180px;
		  background-color:#fff;}
ul.nav1 li a i{width:20px;text-align:center;margin-right:10px;line-height:42px;overflow:hidden;color:#0099ff;font-size:20px;}
ul.nav1 li a font{font-weight:bold;color:#333;font-size:12px;}
ul.nav1 li a:hover,ul.nav1 li a.a_hover{background:#0099ff;color:#fff;text-decoration:none;border-left:1px solid #0099ff;border-right:1px solid #0099ff;}
ul.nav1 li a:hover font,ul.nav1 li a.a_hover font{color:#fff;}
ul.nav1 li a.a_hover{font-weight:bold;}
ul.nav1 li ul.nav2 li ul.nav3 li a font,ul.nav1 li ul.nav2 li a font,ul.nav1 li a.a_hover i{font-weight:normal;}
ul.nav1 li a:hover i,ul.nav1 li a.a_hover i{color:#fff;}
ul.nav1 li ul.nav2,ul.nav1 li ul.nav2 li ul.nav3{float:left;width:100%;display:none;padding:0px;}
ul.nav1 li ul.nav2 li a{background:#fff;padding:0px 0px 0px 28px;border-bottom:1px solid #e6e6e6;border-left:1px solid #fff;border-right:1px solid #fff;#width:168px;*width:168px;}
ul.nav1 li ul.nav2 li a i{font-size:15px;margin-right:6px;width:15px;}
ul.nav1 li ul.nav2 li a:hover,ul.nav1 li ul.nav2 li a.a_hover{background:#f5f5f5;border-left:1px solid #f5f5f5;border-right:1px solid #f5f5f5;color:#333;}
ul.nav1 li ul.nav2 li a:hover i,ul.nav1 li ul.nav2 li a.a_hover i,ul.nav1 li ul.nav2 li a:hover font,ul.nav1 li ul.nav2 li a.a_hover font{color:#0099ff;}
ul.nav1 li ul.nav2 li ul.nav3 li a{background:#fff;padding:0px 0px 0px 38px;border-left:0px none;border-right:0px none;#width:160px;*width:160px;}
ul.nav1 li ul.nav2 li ul.nav3 li a:hover,ul.nav1 li ul.nav2 li ul.nav3 li a.a_hover{background:#fcfcfc;}
ul.nav1 li ul.nav2 li ul.nav3 li a:hover font,ul.nav1 li ul.nav2 li ul.nav3 li a.a_hover font{color:#0099ff;}
ul.nav1 li ul.nav2 li ul.nav3 li a i{font-size:10px;width:10px;}
ul.nav1 li a i.down{margin-right:12px;font-size:18px;}
ul.nav1 li ul.nav2 li a i.down{margin-right:16px;font-size:15px;}

.left_menu span .todo{width:8px;height:8px;position:absolute;z-index:9;top:6px;right:58px;background:#0080FF;border-radius:4px;}
.left_menu li .todo{width:12px;height:12px;line-height:11px;position:absolute;z-index:9;top:4px;right:58px;background:#0080FF;border-radius:6px;text-align:center;color:#ffffff;font-weight:normal;font-size:10px;}

.right{float:left;font-size:12px;position:absolute;top:0px;left:218px;z-index:8;}
.right iframe{width:100%;float:left;background:#ffffff;padding:0px;margin-top:10px;}
.right iframe.iframe_first{-moz-border-top-left-radius:0px;-webkit-border-top-left-radius:0px;border-top-left-radius:0px;}
