body.wel_body{background:transparent;}
body.page_body{background:#fff;overflow-x:auto;min-width:1024px;}
body.workflow_body{padding:44px 380px 0px 320px;background:#eeeeee;}
.b_yel1{background:#e5af2e;}.b_lan{background:#02b7e3;}.b_zi{background:#4e3495;}.b_red{background:#c70206;}.b_yel2{background:#ebb316;}.b_cui{background:#54cdc3;}
.b_fen{background:#ff6abd;}.b_molv{background:#387268;}.b_lv{background:#48b73c;}.b_qing{background:#02a9c1;}.b_org{background:#f77400;}.b_qianlv{background:#9fb56a;}
